:root {
    --darkBlue: #002637;
    --gray: #68879C;
    --lightGray: #E6F4F1;
    --orange: #EB9929;
}

body {
    background-color: #fff;
    color: var(--darkBlue);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.wrapper {
    max-inline-size: 992px;
    margin: auto;
}

@media screen and (max-width: 470px){
    .wrapper {
        max-inline-size: 468px;
    }
}